<div class="progress" #bar aria-hidden="true"></div>

<div class="navbar-container">
  <nav aria-label="Navegación principal">
    <a [routerLink]="['/']" (click)="scrollElement('home')" id="/home">
      <mat-icon class="icono">home</mat-icon>
      <span>Inicio</span>
    </a>
    <a [routerLink]="['/skills']" (click)="scrollElement('skills')" id="/skills">
      <mat-icon class="icono">code</mat-icon>
      <span>Habilidades</span>
    </a>
    <a [routerLink]="['/services']" (click)="scrollElement('services')" id="/services">
      <mat-icon class="icono">work_outline</mat-icon>
      <span>Servicios</span>
    </a>
    <a [routerLink]="['/projects']" (click)="scrollElement('projects')" id="/projects">
      <mat-icon class="icono">folder_open</mat-icon>
      <span>Proyectos</span>
    </a>
    <a [routerLink]="['/about']" (click)="scrollElement('about')" id="/about">
      <mat-icon class="icono">timeline</mat-icon>
      <span>Experiencia</span>
    </a>
    <a [routerLink]="['/contact']" (click)="scrollElement('contact')" id="/contact">
      <mat-icon class="icono">mail_outline</mat-icon>
      <span>Contacto</span>
    </a>
  </nav>
</div>
