<header id="home" #header>
    <div class="content">
        <h1>
            ¡Hola! , soy
            <span>Roberto Loza</span>,
            Desarrollador Full Stack, apasionado por crear soluciones de alto impacto.
        </h1>
        <p>
            Soy un profesional en la creación de aplicaciones de alto impacto, abarcando todo el desarrollo, desde el
            diseño hasta la implementación backend. Me enfoco en la colaboración y la integridad del proyecto,
            utilizando herramientas efectivas para lograr resultados óptimos.
            <span class="cursor"></span>
        </p>
        <div class="social">
            <a class="media" href="https://api.whatsapp.com/send?phone=50376263182&app=facebook&entry_point=page_cta"
                target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
            <a class="media" href="https://www.linkedin.com/in/roberto-loza-257542221/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="media" href="https://github.com/Loza64" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <a class="cv" href="https://drive.google.com/file/d/1VhGS8ykOx44skcg9KdolblAAK-b78dzA/view?usp=sharing"
            target="_blank">
            Download resume
        </a>
    </div>
    <div class="img-container">
        <div class="border-green">
            <div class="border-white">
                <img src="https://res.cloudinary.com/ufostart-development/image/upload/v1741282034/PORTFOLIO/xy7z7er1nkpg2krkkupo.jpg"
                    alt="Roberto Loza">
            </div>
        </div>
    </div>
</header>
